

h1, h2, h3, h4, h5, h6 { 
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: Candara, Verdana, sans-serif;
}



table.tabell1 {
  background-color: #ffcccc;
}

table.tabell2 {
  background-color: #ffcc99;
}

tfoot {
  color: green;
}


/* Change the link color to #111 (black) on hover */
a:hover {
  background-color: #D0B987;
}

.active {
  background-color: #948a76;
}
